<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>OZNote</title>
        <link rel="stylesheet" href="/styles.css" />
        <link rel="icon" href="/images.png" class="icon" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
        >
            <div class="col-md-3 mb-2 mb-md-0" id="logo">
                <a
                    href="index.html"
                    class="d-inline-flex link-body-emphasis text-decoration-none"
                >
                    <object
                        type="image/svg+xml"
                        data="/co_logo.svg"
                        height="30"
                        width="120"
                    ></object>
                </a>
            </div>
            <div id="logout">
                <form action="/logout">
                    <button class="btn btn-outline" type="submit" id="butt2">
                        Logout
                    </button>
                </form>
            </div>
        </header>

        <div id="admin">
            <form action="/export">
                <button class="btn btn-outline" type="submit" id="buttAdmin">
                    Daten export in CSV
                </button>
            </form>
        </div>
    </body>
</html>
